{% extends 'base_layout.html' %}

{% block msgs %}
{% include 'messages.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row col-md-6 offset-md-3">
        <h1 class="text-center mt-5">Login</h1>

        <form action="{% url 'login' %}" method="POST" class="mt-5 ">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember_me">
                <label class="form-check-label" for="remember_me">Remember me</label>
            </div>
            <p><strong>Don't have an account?</strong><a href="{% url 'register' %}" style="text-decoration: none;">
                    <strong> Register here</strong></a></p>

            <a href="" style="text-decoration: none;">Forgot password?</a>
            <br>
            <br>
            <i class="bi bi-eye-slash"></i>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#togglePassword').click(function() {
            const passwordField = $('#id_password');
            const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
            passwordField.attr('type', type);
            $(this).toggleClass('bi-eye bi-eye-slash');
        });
    });
</script>

{% endblock %}